doctype html
html
    head
      link(rel='stylesheet', href='/css/bootstrap.css' ,type = "text/css")
      script(src="/js/jquery.min.js")
      script(type = "text/javascript" , src='/js/bootstrap.min.js')
    body
      div wecome hello
      button(id="payMoney") 付款
      script(type = "text/javascript" , src='/js/index.js')